.footer {
    padding: 50px 0;
    position: relative;

    background-color: #1fa67a;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        color: #FFF;
        text-decoration: none;
        margin-right: 10px;
        font-size: 25px;
    }
}